@use './vars' as vars;



footer{
    background-image: url('../img/runners.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;



    .text-foo{
        max-width: 40rem;
        color: #fff;
        padding-top: 15rem;
        margin-right: 1rem;
    
        .header{
            font-size: 40px;
            font-weight: 700;
        }
    
        .para-foo{
            margin: 0;
            padding-left: 2rem;
            max-width: 30rem;
            color: #fff;
            border-left: 2px solid #fff;
        }
    }

}

