@use './vars' as vars;


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon img{
        width: 60px;
        height: 60px;
    }
}

.nav-item{
    margin: 0 1rem;

    &:first-child{
        margin-left: 0;
    }
}



.nav-item p{
    font-size: 16px;
    font-weight: 400;
    color: vars.$basic-grey;
    border-bottom: 2px solid transparent;
    padding: 5px 10px;
    transition: .3s all;
    margin: 0;

    &:hover{
        cursor: pointer;
        border-bottom: 2px solid vars.$basic-grey;
    }
}


.nav-input{
    border: none;
    border-bottom: 1px solid vars.$basic-grey;
    font-size: 14px;
    transition: .3s all;
    margin-left: 0;

    &:focus{
        border-bottom: 2px solid #5c5c5c;
        outline: none;
        color: #5c5c5c;
    }
}


